<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 
	namespace是接口的全类名
 -->
  
<mapper namespace="exer2.mapper.StudentMapper">
	
	<!-- public List<Student> queryStudentByClazzId(Integer clazzId); -->
	<select id="queryStudentByClazzId" resultType="pojo.Student">
		select
			`id`, `name`
		from
			t_student
		where
			clazz_id = #{clazzId}
	</select>
	
	<!-- public List<Student> queryStudentByClazzIdAndLikeName
	(@Param("clazzId")Integer clazzId, @Param("stuName")String stuName); -->
	<select id="queryStudentByClazzIdAndLikeName" resultType="pojo.Student">
		select
			`id`, `name`
		from
			t_student
		where
			clazz_id = #{clazzId}
				and
			name like concat('%', #{stuName}, '%')
	</select>
</mapper>