<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- 
		thymeleaf的使用： 推荐在标签的属性值中使用
			1、项目pom文件中引入了thymeleaf的依赖： 场景启动器
			
			2、在yml文件中配置thymeleaf的前缀后缀+缓存
			
			3、在需要使用thymeleaf的页面中    html开始标签内 声明当前页面需要使用thymeleaf
					xmlns:th="http://www.thymeleaf.org"
			4、页面中可以使用thymeleaf的语法：
				标准thymeleaf的表达式：
						${}   获取域中变量值的表达式
						@{}   处理url地址的表达式：自动在绝对地址前拼接上下文路径
						~{}   在页面中引入其他的页面
	 -->
	<!-- 1、获取域中的属性值 显示(字符串)
			所有的标签中都可以使用 th:xx属性，属性值会在不同的地方显示
			 th:text="xx" 在双标签内部显示属性值，默认会覆盖标签内的内容
			 	th:text 属性的属性值也支持 简单运算+比较运算符
			 	th:text="${session.member.email}==null?'hehe':${session.member.email}"
			 			-  获取email属性值如果为null则显示hehe字符串，如果不为null则显示email
			 	th:text="${session.member.userpswd}==null?_:${session.member.userpswd}"	
			 			- 获取userpswd属性值，如果为null则不要覆盖双标签内部的默认内容，如果不为null则显示userpswd
			 ${key}  :从request域中获取属性值
			 ${session.key} :从session域中获取属性值
			 ${application.key} :从application域中获取属性值
			 	获取的数据如果是引用类型可以一直用过.属性名获取该数据的属性值显示到页面中
			 	${user.username}
			 	
	 -->
	request:
	<h3 th:text="${reqKey}"></h3>
	session:
	<h3 th:text="${session.sessionKey}"></h3>
	application:
	<h3 th:text="${application.appKey}"></h3>
	获取member对象
	<table border="1" style="color:red;">
		<tr>
			<th>编号</th>
			<th>账号</th>
			<th>密码</th>
			<th>用户名</th>
			<th>邮箱</th>
		</tr>
		
		<tr>
			<td th:text="${member.id}"></td>
			<td th:text="${member.loginacct}"></td>
			<td th:text="${member.userpswd}"></td>
			<td th:text="${member.username} == null ? 'null' : ${member.username}">未查询到用户名</td>
			<td th:text="${member.email}"></td>
		</tr>
		<tr>
			<td th:text="${session.user.id}"></td>
			<td th:text="${session.user.loginacct}"></td>
			<td th:text="${session.user.userpswd}"></td>
			<td th:text="${session.user.username} == null ? 'null' : ${member.username}">未查询到用户名</td>
			<td th:text="${session.user.email}"></td>
		</tr>
		
	</table>
	<div th:if = "${members} != null">
		<h5>有数据的情况</h5>
		<table class="table" border="1" width="70%">
			<tr>
			<th>编号</th>
			<th>序号</th>
			<th>账号</th>
			<th>密码</th>
			<th>用户名</th>
			<th>邮箱</th>
		</tr>
		
		<tr th:each = "member, vs:${members}">
			<td th:text="${vs.index}"></td>
			<td th:text="${member.id}"></td>
			<td th:text="${member.loginacct}"></td>
			<td th:text="${member.userpswd}"></td>
			<td th:text="${member.username} == null ? 'null' : ${member.username}">未查询到用户名</td>
			<td th:text="${member.email} == null ? '没有获取到邮箱地址' : '获取到的邮箱地址:' + ${member.email}">xxx@126.com</td>
		</tr>
		</table>
	</div>
	<div th:if = "${members} == null">
		<h5>没有数据的情况</h5>
	</div>
	
	<h3>路径处理</h3>
		<!-- 
		所有的 页面中的  html标签、js中location、重定向  绝对地址都是由浏览器解析， 默认会在路径前拼接  http://主机ip地址:端口号
	 	
	 	http://localhost:10000/test
	 		springboot项目由于默认没有上下文路径  所以 路径暂时没有问题
	 		
	 	thymeleaf语法必须在  th:attr	 属性值中编写
	 		html标签所有的属性  thymeleaf都提供了对应的th:开头的属性
	 		
	 		a标签的  href属性  thymeleaf提供了 th:href   thymeleaf解析时会自动使用th:href属性值替换href属性值
	 			img:  th:src
	 			a:   th:href
	 			link  th:href
	 			script th:src
	 		
	 -->
	 <a href="aaa" th:href="bbb">点我</a>
	 
	 <!-- 静态包含 -->
	 <div th:include = "~{include/base_fragments::cssFragment}"></div>
	 <div th:insert = "~{include/base_fragments::#jsFragment}"></div>
</body>
</html>