<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mapper.LockMapper">
<!-- 	/**
	 * 根据 lockid 查询lock信息
	 * 
	 * @param lockId
	 * @return
	 */
	public Lock queryLockById(Integer lockId);   -->
	<select id="queryLockById" resultType="pojo.Lock">
		select `id`,`name` from t_lock where id = #{id}
	</select>
	
	
</mapper>
