<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 
	namespace是接口的全类名
 -->
  
<mapper namespace="exer.mapper.UserMapper">
	<!-- public User queryUserById(Integer id); -->
	<select id="queryUserById" resultType="User">
		select `id`, `last_name` lastName, `sex` from t_user where id = #{id}
	</select>
	
	<!-- public User queryUserByNameOrSex(String name, Integer id); -->
	<select id="queryUserByNameOrSex" resultType="User">
		select 
			`id`, `last_name` lastName, `sex`
		from
			t_user
		where
			<!-- last_name = #{name} or sex = #{sex} -->
			last_name = #{param1} or sex = #{param2}
	</select>
	
	<!-- public List<User> queryUserByMap(Map<String, Object> paramMap); -->
	<select id="queryUserByMap" resultType="User">
		select 
			`id`, `last_name` lastName, `sex`
		from
			t_user
		where
			last_name = #{name} or sex = #{sex}
	</select>
	
	<!-- public int updateUser(User user); -->
	<update id="updateUser" parameterType="User">
		update
			t_user
		set
			`last_name` = #{lastName},
			`sex` = #{sex}
		where
			`id` = #{id}
	</update>
	
	<!-- public List<User> queryUserLikeName(String name); -->
	<select id="queryUserLikeName" resultType="User">
		select 
			`id`, `last_name` lastName, `sex`
		from
			t_user
		where
			last_name like concat('%', #{name}, '%')
	</select>
</mapper>